body {
    background-color: #e9eaed;
}

.scientific-calculator {
    margin-left: 200px;
}
.textbox {
    margin-top: 100px;
}

#calc-textbox {
    text-align: right;
    height: 45px;
    font-size: 20px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.tb {
    padding: 0 10px;
    background-color: white;
    padding-bottom: 5px;
    border-left: 1px solid #dfe0e4;
    border-right: 1px solid #dfe0e4;

}

.digit,
.digit-equal,
.op {
    padding: 0 5px;
    margin: 5px 0;
    height: 40px;
}

.digit button,
.op button {
    height: 100%;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    font-size: large;
}

.digit-above,
.op-clear {
    height: 34px;
}

.digit button {
    background-color: #f5f5f5;
}

.op button,
.digit-above button,
.op-clear button {
    background-color: #DBDAD8;
}

.digit-above button,
.op-clear button {
    font-size: small;
}

.digit-equal button {
    height: 100%;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    font-size: 1.5em;
}

.digits {
    padding: 0 5px;
    background-color: white;
    border-bottom: 1px solid #dfe0e4;

}

.operators,
.scientific {
    padding: 0;
}

.scientific {
    padding-left: 5px;
    background-color: white;
    border-left: 1px solid #dfe0e4;
    border-bottom: 1px solid #dfe0e4;

}

.operators {
    padding-right: 5px;
    background-color: white;
    border-right: 1px solid #dfe0e4;
    border-bottom: 1px solid #dfe0e4;

}

.rad-switch {
    padding: 0 5px;
    margin-top: 5px;
}

.display-result {
    text-align: right;
    height: 40px;
    background-color: white;
    border-left: 1px solid #dfe0e4;
    border-right: 1px solid #dfe0e4;
    border-top: 1px solid #dfe0e4;


}

.display-result,
.tb,
.scientific,
.digits,
.operators {

}

.display-plot {
    height: 280px;
    width: 665px;
    background-image: url("../calc.jpg");
    background-repeat: no-repeat;

    margin-left: 210px;
}




